
body {
  font: inherit;
  font-size: 100%;
  font-family: "Helvetica Light", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.floatR {
  float: right;
}

.alignM {
  vertical-align: middle;
}

.div-table {
  display: table;
  width: auto;
  margin: 0 auto;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left;
  min-width: 500px;
  height: 400px;
  margin: 0 auto;
  display: table-column;
}
